.Header-Mobile {
  background-color: #f6f6f6;
  margin: 12px 0;
  box-shadow: 0 0 5px 2px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  nav {
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      left: 0;
      a {
        color: #4d4d4d;
        font-size: 19px;
        padding: 5px 10px;
        background-color: #f6f6f6;
        &:nth-child(odd) {
          border: 1px solid #ddd;
        }
        &:hover {
          background-color: #3af;
          color: white;
        }
      }
      a.active {
        background-color: #3a7ef2;
        color: white;
      }
    }
  }
  button {
    background-color: #3a7ef2;
    border: none;
    padding: 7px 14px;
    box-shadow: 0 2px 5px 1px #ddd;
    border-radius: 0.3rem;
    transition: 200ms;
    &:hover {
      background-color: #3af;
      transition: 200ms;
    }
  }
  svg {
    font-size: 36px;
    display: flex;
    margin: 4px;
    &:hover {
      color: #3af;
    }
  }
  nav.open {
    svg {
      background-color: #3a7ef2;
      color: orangered;
    }
  }
}
