@import '../../../index.scss';

.Header-Mobile {
  background-color: $navigation;
  margin: 0 0 12px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 8vh;
  z-index: 1000;
  nav {
    div {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 8vh;
      height: 85vh;
      a {
        color: $lighttext;
        display: flex;
        height: 100%;
        font-size: 36px;
        background-color: $navigation;
        align-items: center;
        justify-content: center;
        &:nth-child(2) {
          border-top: 2px solid #ddd;
          border-bottom: 2px solid #ddd;
        }
        &:nth-child(1):hover {
          background-color: $blue;
        }
        &:nth-child(2):hover {
          background-color: $green;
        }
        &:nth-child(3):hover {
          background-color: $red;
        }
        &:nth-child(1).active {
          background-color: $blue;
        }
        &:nth-child(2).active {
          background-color: $green;
        }
        &:nth-child(3).active {
          background-color: $red;
        }
        &.active {
          color: white;
        }
      }
    }
  }
  svg {
    font-size: 44px;
    display: flex;
    margin: 0 16px;
    color: $text;
  }
  nav.open {
    svg {
      color: orangered;
    }
  }
}
.blue-svg-color {
  color: $blue;
}
.green-svg-color {
  color: $green;
}
.red-svg-color {
  color: $red;
}
.normal {
  color: #888;
}
