@import '../../../index.scss';

.Header-Mobile {
  background-color: $navigation;
  margin: 12px 0;
  box-shadow: 0 0 5px 2px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  nav {
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      left: 0;
      a {
        color: $lighttext;
        font-size: 19px;
        padding: 5px 10px;
        background-color: #f6f6f6;
        &:nth-child(odd) {
          border: 1px solid #ddd;
        }
        &:nth-child(1):hover {
          background-color: $blue;
        }
        &:nth-child(2):hover {
          background-color: $green;
        }
        &:nth-child(3):hover {
          background-color: $red;
        }
        &:nth-child(1).active {
          background-color: $blue;
        }
        &:nth-child(2).active {
          background-color: $green;
        }
        &:nth-child(3).active {
          background-color: $red;
        }
        &.active {
          color: white;
        }
      }
    }
  }
  button {
    border: none;
    padding: 7px 14px;
    box-shadow: 0 2px 5px 1px #ddd;
    border-radius: 0.3rem;
    transition: 200ms;
    &:hover {
      transition: 200ms;
    }
  }
  svg {
    font-size: 36px;
    display: flex;
    margin: 4px;
    &:hover {
      color: $blue;
    }
  }
  nav.open {
    svg {
      color: orangered;
    }
  }
}
