.Header-Mobile {
  background-color: #f6f6f6;
  margin: 12px 0;
  box-shadow: 0 0 5px 2px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.Header-Mobile nav div {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
}
.Header-Mobile nav div a {
  color: #4d4d4d;
  font-size: 19px;
  padding: 5px 10px;
  background-color: #f6f6f6;
}
.Header-Mobile nav div a:nth-child(odd) {
  border: 1px solid #ddd;
}
.Header-Mobile nav div a:hover {
  background-color: #3af;
  color: white;
}
.Header-Mobile nav div a.active {
  background-color: #3a7ef2;
  color: white;
}
.Header-Mobile button {
  background-color: #3a7ef2;
  border: none;
  padding: 7px 14px;
  box-shadow: 0 2px 5px 1px #ddd;
  border-radius: 0.3rem;
  transition: 200ms;
}
.Header-Mobile button:hover {
  background-color: #3af;
  transition: 200ms;
}
.Header-Mobile svg {
  font-size: 36px;
  display: flex;
  margin: 4px;
}
.Header-Mobile svg:hover {
  color: #3af;
}
.Header-Mobile nav.open svg {
  background-color: #3a7ef2;
  color: orangered;
}
