@import '../../../index.scss';

.SearchBarMobile {
  display: flex;
  justify-content: center;
  height: 48px;
  background-color: $navigation;
  width: 100%;
  input {
    background-color: $navigation;
    color: $text;
    border-radius: 0px;
    margin: 0;
    font-size: 24px;
    width: 100%;
    transition: 500ms;
    border: none;
    outline: none;
  }
  button {
    border: none;
    border-radius: 0px;
    background-color: $navigation;
    width: 20%;
    margin: 0;
    svg {
      font-size: 32px;
      padding: 0 4px;
    }
  }
}
.blue-svg-color {
  color: $blue;
  &:hover {
    border: 1px solid $blue;
  }
  &:focus {
    border: 1px solid $blue;
  }
}
.green-svg-color {
  color: $green;
  &:hover {
    border: 1px solid $green;
  }
  &:focus {
    border: 1px solid $green;
  }
}
.red-svg-color {
  color: $red;
  &:hover {
    border: 1px solid $red;
  }
  &:focus {
    border: 1px solid $red;
  }
}
.normal {
  color: #888;
  &:hover {
    border: 1px solid #888;
  }
  &:focus {
    border: 1px solid #888;
  }
}
