@import '../../../index.scss';

.SearchBar {
  display: flex;
  justify-content: center;
  height: 48px;
  background-color: $navigation;
  width: 100%;
  input {
    background-color: $navigation;
    color: $text;
    border-radius: 0px;
    margin: 0;
    font-size: 24px;
    width: 100%;
    transition: 500ms;
    border: none;
    outline: none;
  }
  button {
    border: none;
    border-radius: 0px;
    background-color: $navigation;
    width: 20%;
    margin: 0;
    &:hover {
      border: 1px solid $blue;
    }
    &:focus {
      border: 1px solid $blue;
    }
    svg {
      font-size: 32px;
      padding: 0 4px;
      color: $blue;
    }
  }
}
