@import '../../../index.scss';

.TourismMobile {
  .TourismMobile__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    h1 {
      font-size: 34px;
      text-align: center;
      font-family: Georgia, Times, 'Times New Roman', serif;
      margin-bottom: 0;
    }

    span {
      margin-bottom: 20px;
      font-size: 21px;
      font-family: Georgia, Times, 'Times New Roman', serif;
    }
  }

  .TourismMobile__card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    a {
      transition: 300ms;
      padding: 4px 12px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        transition: 500ms;
        transform: translateY(-5px);
      }

      h3 {
        transition: 300ms;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text;
        font-size: 21px;
        margin: 0;
        color: $text;
      }

      &:hover h3 {
        transition: 300ms;
        color: $green;
      }
    }

    .TourismMobile__card {
      margin: 12px 0;
      padding: 12px 18px;
      height: 190px;
      width: 200px;
      display: flex;
      align-items: flex-end;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (max-width: 320px) {
        width: 120px;
      }
    }
  }
}
