.News {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.News-Main-News {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 90vh;
  width: 70%;
}
.News-Secondary-News {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  height: 90vh;
  width: 30%;
}
