@import "../../index.scss";

@font-face {
    font-family: "Mona-Sans";
    src: url("../../utils/Mona-Sans.woff") format("woff");
}
* {
    font-family: "Mona-Sans";
}

.Home-Desktop {
    &.dark {
        color: $darktext;
    }
    &.dark .Home-Main {
        .text-side {
            .title {
                color: $darklightertext;
            }
            .sub-title {
                color: $darktext;
            }
            .description {
                color: $darklightertext;
                span {
                    color: $darktext;
                }
            }
            .mini-description {
                color: $darklightertext;
                span {
                    color: $darklighttext;
                }
            }
            .discover-btn {
                background-color: #888;
            }
        }
        .images-side {
            .top-left-image-card {
                border: 1px solid white;
            }
            .bottom-left-image-card {
                border: 1px solid white;
            }
            .bottom-right-image-card {
                border: 1px solid white;
            }
            .top-right-image-card {
                border: 1px solid white;
            }
        }
    }
    &.dark .partner-desktop-main {
        background: $darkbackground;
        .partner-container {
            h2 {
                color: $darktext;
            }
            p {
                color: $darklighttext;
            }
            button {
                background-color: #888;
            }
        }
    }
    .Home-Main {
        margin-top: 24px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .text-side {
            margin-top: 50px;
            font-family: "Roboto", sans-serif;

            .title {
                color: $lightertext;
                font-size: 45px;
                font-weight: 400;
                letter-spacing: 1px;
                margin-bottom: 2px;
            }

            .sub-title {
                color: $text;
                font-size: 55px;
                letter-spacing: 2px;
                margin-bottom: 10px;
            }

            .description {
                color: $lightertext;
                width: 270px;
                font-size: 18px;
                margin-bottom: 20px;

                span {
                    color: $text;
                    font-weight: 600;
                }
            }

            .mini-description {
                color: $lightertext;
                font-size: 15px;
                margin-bottom: 25px;

                span {
                    color: $lighttext;
                    font-weight: 600;
                }
            }

            .discover-btn {
                background-color: #888;
                padding: 15px;
                border: none;
                border-radius: 0.25rem;
                color: rgba(255, 255, 255, 0.781);
                font-size: 20px;

                &:hover {
                    color: white;
                    cursor: pointer;
                }
            }
        }
        .images-side {
            width: 50%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            div {
                border-radius: 25px;
            }
            .top-left-image-card {
                border: 1px solid black;
                height: 250px;
                margin-right: 40px;
            }
            .bottom-left-image-card {
                border: 1px solid black;
                height: 160px;
                margin-right: 40px;
            }
            .top-right-image-card {
                border: 1px solid black;
                height: 160px;
            }
            .bottom-right-image-card {
                border: 1px solid black;
                height: 250px;
            }
        }
    }
    .partner-desktop-main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        background-color: $background;
        justify-content: center;
        align-items: center;

        .partner-container {
            width: 87vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4%;
            padding-bottom: 2%;
            justify-content: space-around;
            text-align: center;

            h2 {
                color: $text;
                font-size: 37px;
                letter-spacing: 0.1vw;
            }
            p {
                width: 65vw;
                font-size: 26px;
                color: $lighttext;
                padding-bottom: 2vh;
            }
            button {
                background-color: #888;
                font-size: 19px;
                outline: none;
                border: none;
                cursor: pointer;
                padding: 1.2%;
                color: rgba(255, 255, 255, 0.719);
                border-radius: 3%;
            }
            button:hover {
                color: white;
                background-color: #385d80;
            }
        }
    }
}

.Home-Mobile {
    &.dark {
        color: $darktext;
    }

    &.dark .Home-Main-Mobile {
        .text-side {
            .title {
                color: $darklightertext;
            }

            .sub-title {
                color: $darktext;
            }

            .description {
                color: $darklightertext;

                span {
                    color: $darktext;
                }
            }

            .mini-description {
                color: $darklightertext;

                span {
                    color: $darktext;
                }
            }

            .discover-btn {
                background-color: #888;
            }
        }

        .images-side {
            .top-left-image-card {
                border: 1px solid white;
            }
            .top-right-image-card {
                border: 1px solid white;
            }
            .bottom-left-image-card {
                border: 1px solid white;
            }
            .bottom-right-image-card {
                border: 1px solid white;
            }
        }
    }
    &.dark .partner-mobile-main {
        background: $darkbackground;
        .partner-container {
            h2 {
                color: $darktext;
            }
            p {
                color: $darklighttext;
            }
            button {
                background-color: #888;
            }
        }
    }

    .Home-Main-Mobile {
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
        height: auto;

        .text-side {
            font-family: "Roboto", sans-serif;
            text-align: center;

            .title {
                color: $lightertext;
                font-size: 35px;
                font-weight: 400;
                margin-bottom: 6px;
                letter-spacing: 1px;
            }

            .sub-title {
                color: $text;
                font-size: 45px;
                font-weight: 500;
                letter-spacing: 2px;
                margin-bottom: 6px;
            }

            .description {
                color: $lightertext;
                font-size: 19px;
                margin-bottom: 13px;

                span {
                    color: $text;
                    font-weight: 600;
                }
            }
            .mini-description {
                color: $lightertext;
                font-size: 15px;
                margin-bottom: 15px;

                span {
                    color: $text;
                    font-weight: 600;
                }
            }

            .discover-btn {
                background-color: #888;
                padding: 15px;
                font-size: 19px;
                border: none;
                border-radius: 0.25rem;
                color: rgba(255, 255, 255, 0.781);

                &:hover {
                    color: white;
                    cursor: pointer;
                }
            }
        }

        .images-side {
            width: 90%;
            margin: 24px auto 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            div {
                border-radius: 25px;
            }
            .top-left-image-card {
                border: 1px solid black;
                height: 145px;
                margin-right: 25px;
            }
            .bottom-left-image-card {
                border: 1px solid black;
                height: 85px;
                margin-right: 25px;
            }
            .top-right-image-card {
                border: 1px solid black;
                height: 85px;
            }
            .bottom-right-image-card {
                border: 1px solid black;
                height: 145px;
            }
        }
    }
    .partner-mobile-main {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        background-color: $background;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        font-family: "Mona-Sans";

        .partner-container {
            width: 70vw;
            text-align: center;

            h2 {
                font-size: 30px;
                color: $text;
                letter-spacing: 0.2vw;
            }
            p {
                color: $lighttext;
                padding-bottom: 1vh;
            }
            button {
                background-color: #888;
                font-size: 20px;
                width: 70%;
                color: rgba(255, 255, 255, 0.692);
                font-weight: 500;
                outline: none;
                border: none;
                border-radius: 3%;
                padding: 2.5%;
            }
            button:hover {
                color: white;
                background-color: #3b648a;
            }
        }
    }
}

.main-div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 15px 200px;
    font-family: "Roboto", sans-serif;

    .top-title {
        display: flex;
        justify-content: center;
        font-size: 40px;
        padding-top: 30px;
        font-weight: 500;
        color: #121212;
    }
    .titles-in-row {
        display: flex;
        justify-content: space-between;
        padding-top: 9%;
        font-size: 25px;
        color: #121212;

        .right-title,
        .middle-title,
        .left-title {
            display: inline-flex;
            width: 300px;
        }
    }
    .main-title-in-the-middle {
        display: flex;
        justify-content: center;
        padding-top: 9%;
        font-size: 30px;
        font-weight: 800;
        color: #121212;
    }
    .info-sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5%;
        width: 100%;

        .left-info-section,
        .right-info-section,
        .middle-info-section {
            margin: 3rem;
            width: 650px;
            height: 250px;
            color: rgb(0, 0, 0);
            border: 1px solid black;
            text-align: center;
            border-radius: 10px;
        }
    }
    .line-btwn-section {
        display: flex;
        justify-content: center;
        margin-top: 8vh;

        .line-in-btwn {
            background-color: #4d7aa1;
            width: 50vw;
            height: 1vh;
        }
    }
    .our-mission-section {
        margin-top: 10vh;
        width: 100%;

        .two-cards-in-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            .mission-content,
            .vision-content {
                border-radius: 10px;
                display: block;
                flex-direction: column;
                width: 400px;
                height: 350px;
                margin: 2vw;
                border: 1px solid black;
            }
            .mission-icon,
            .vision-icon {
                margin-top: 1px;
                margin-left: 3vw;
                margin-right: 3vw;
                text-align: center;
                font-size: 80px;
                border-bottom: 1px solid black;
            }
            .mission-text,
            .vision-text {
                margin: 2vw 2vh;
                font-size: 18px;
                display: flex;
                text-align: center;
            }
        }
    }
}

.main-div-mobile {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;

    .top-title {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        font-weight: 700;
        color: #121212;
    }
    .titles-in-row-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        color: #121212;
        line-height: normal;

        .right-title,
        .middle-title,
        .left-title {
            display: inline;
            padding-top: 4vh;
            justify-content: center;
            text-align: center;
            width: 90vw;
            margin: 1vh 4vw;
        }
    }
    .main-title-in-the-middle {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 9%;
        font-size: 19px;
        font-weight: 800;
        color: #121212;
    }
    .info-sections-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5%;
        // width: 100%;'

        .left-info-section,
        .right-info-section,
        .middle-info-section {
            display: flex;
            border: 1px solid black;
            justify-content: center;
            background-color: f6f6f6;
            margin: 3rem;
            width: 80vw;
            height: 250px;
            color: rgb(0, 0, 0);
            text-align: center;
            border-radius: 10px;
        }
    }
    .line-btwn-section {
        display: flex;
        justify-content: center;
        margin-top: 8vh;

        .line-in-btwn {
            background-color: #4d7aa1;
            width: 50vw;
            height: 1vh;
        }
    }
    .our-mission-section-mobile {
        margin-top: 10vh;
        display: flex;
        justify-content: center;

        .two-cards-in-row {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .mission-content,
            .vision-content {
                border: 1px solid black;
                border-radius: 10px;
                display: block;
                flex-direction: column;
                width: 90vw;
                background-color: #f6f6f6;
                height: 39vh;
                margin: 2vw;
            }
            .mission-icon,
            .vision-icon {
                margin-top: 3vh;
                margin-left: 3vw;
                margin-right: 3vw;
                text-align: center;
                font-size: 50px;
            }
            .mission-text,
            .vision-text {
                margin: 2vw 2vh;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}