@import '../../index.scss';

.SearchBar {
  display: flex;
  justify-content: center;
  height: 3vw;
  background-color: $navigation;
  width: 50%;
  margin: 0 auto;

  input {
    background-color: $navigation;
    color: $text;
    border-radius: 0px;
    margin: 0;
    font-size: 1.5vw;
    width: 100%;
    transition: 500ms;
    border: none;
    outline: none;

    &::placeholder {
      color: rgb(180, 180, 180);
    }
  }

  button {
    border: none;
    border-radius: 0px;
    background-color: $navigation;
    width: 20%;
    margin: 0;

    svg {
      font-size: 2.2vw;
      padding: 0 4px;
    }
  }
}

.blue-svg-color {
  &:hover,
  &:focus {
    color: $blue;
  }
}

.green-svg-color {
  &:hover,
  &:focus {
    color: $green;
  }
}

.red-svg-color {
  &:hover,
  &:focus {
    color: $red;
  }
}

.normal {
  &:hover,
  &:focus {
    color: #888;
  }
}

.SearchBarMobile {
  display: flex;
  justify-content: center;
  height: 48px;
  background-color: $navigation;
  width: 100%;

  input {
    background-color: $navigation;
    color: $text;
    border-radius: 0px;
    margin: 0;
    font-size: 24px;
    width: 100%;
    transition: 500ms;
    border: none;
    outline: none;
  }

  button {
    border: none;
    border-radius: 0px;
    background-color: $navigation;
    width: 20%;
    margin: 0;

    svg {
      font-size: 32px;
      padding: 0 4px;
    }
  }
}
