@import '../../index.scss';

.SearchBar {
  display: flex;
  justify-content: center;
  height: 3vw;
  background-color: $navigation;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #e6e6e6;

  &.dark {
    background-color: $darknavigation;
    border: 1px solid #2e2e2e;
  }

  &.dark input {
    background-color: $darknavigation;
    color: $darktext;

    &::placeholder {
      color: rgb(210, 210, 210);
    }
  }

  &.dark button {
    background-color: $darknavigation;
  }

  &.dark .blue-svg-color {
    &:hover,
    &:focus {
      color: $darkblue;
    }
  }

  &.dark .green-svg-color {
    &:hover,
    &:focus {
      color: $darkgreen;
    }
  }

  &.dark .red-svg-color {
    &:hover,
    &:focus {
      color: $darkred;
    }
  }

  .inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .dropdowns {
    position: absolute;
    top: 3vw;
    left: 25%;
    right: 25%;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: $navigation;
    color: $text;
    padding: 18px;
    border: 1px solid #d0d0d0;
    z-index: 100000;

    p {
      margin: 6px 0;
      border-bottom: 1px solid $lighttext;
      font-size: 1.4vw;
    }

    span {
      margin: 11px 0;
      border-bottom: 1px solid $lightertext;
      font-size: 1vw;
      color: $lighttext;
      cursor: pointer;

      em {
        color: $lightertext;
      }
    }
  }

  input {
    background-color: $navigation;
    color: $text;
    border-radius: 0px;
    margin: 0;
    font-size: 1.5vw;
    width: 80%;
    transition: 500ms;
    border: none;
    outline: none;

    &::placeholder {
      color: rgb(180, 180, 180);
    }
  }

  button {
    border: none;
    border-radius: 0px;
    background-color: $navigation;
    width: 20%;
    margin: 0;

    svg {
      font-size: 2.2vw;
      padding: 0 4px;
    }
  }
}

.blue-svg-color {
  &:hover,
  &:focus {
    color: $blue;
  }
}

.green-svg-color {
  &:hover,
  &:focus {
    color: $green;
  }
}

.red-svg-color {
  &:hover,
  &:focus {
    color: $red;
  }
}

.normal {
  &:hover,
  &:focus {
    color: #888;
  }
}

.SearchBarMobile {
  display: flex;
  justify-content: center;
  height: 12vw;
  background-color: $navigation;
  width: 100%;
  border: 1px solid #e6e6e6;

  &.dark {
    background-color: $darknavigation;
    border: 1px solid #2e2e2e;
  }

  &.dark input {
    background-color: $darknavigation;
    color: rgb(210, 210, 210);

    &::placeholder {
      color: rgb(210, 210, 210);
    }
  }

  &.dark button {
    background-color: $darknavigation;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .dropdowns {
    position: absolute;
    top: 12vw;
    left: 0;
    right: 0;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: $navigation;
    color: $text;
    padding: 12px;
    z-index: 100000;
    border: 1px solid #888;

    p {
      margin: 0 0 6px 0;
      border-bottom: 1px solid $lighttext;
      font-size: 6vw;
    }

    span {
      margin: 13px 0;
      border-bottom: 1px solid $lightertext;
      font-size: 4.5vw;
      color: $lighttext;
      cursor: pointer;

      em {
        color: $lightertext;
      }
    }
  }

  input {
    background-color: $navigation;
    color: $text;
    border-radius: 0px;
    margin: 0;
    font-size: 24px;
    width: 80%;
    transition: 500ms;
    border: none;
    outline: none;
  }

  button {
    border: none;
    border-radius: 0px;
    background-color: $navigation;
    width: 20%;
    margin: 0;

    svg {
      font-size: 32px;
      padding: 0 4px;
    }
  }
}
