@import '../../index.scss';

@font-face {
  font-family: 'Code Pro';
  src: url('../../utils/CodeProLC.otf');
  font-weight: normal;
  font-style: normal;
}

.Header-Desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $navigation;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  img {
    width: 2.6vw;
    height: 3.3vw;
  }

  div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    width: 30%;

    div {
      width: 50%;
      display: flex;
      justify-content: space-evenly;

      button {
        padding: 0.8vw 1.6vw;
        font-size: 1vw;
        border-radius: 5px;
        transition: 0.4s all;
        font-family: 'Code Pro';

        &:nth-child(1) {
          color: #f6f6f6;
          border: none;
        }

        &:hover {
          transform: translateY(-0.1vw);
        }
      }
    }
  }

  nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Code Pro';

    a {
      font-size: 1.2vw;
      text-decoration: none;
      color: #888;
      transition: all 0.3s ease;
      border-bottom: 2px solid transparent;

      &:hover {
        transform: translateY(-0.1vw);
      }

      &:nth-child(1):hover {
        color: $blue;
        border-bottom: 2px solid $blue;
      }

      &:nth-child(2):hover {
        color: $green;
        border-bottom: 2px solid $green;
      }

      &:nth-child(3):hover {
        color: $red;
        border-bottom: 2px solid $red;
      }

      &:nth-child(1).active {
        color: $blue;
        border-bottom: 2px solid $blue;
        font-weight: 700;
      }

      &:nth-child(2).active {
        color: $green;
        border-bottom: 2px solid $green;
        font-weight: 700;
      }

      &:nth-child(3).active {
        color: $red;
        border-bottom: 2px solid $red;
        font-weight: 700;
      }
    }
  }
}

.blue-second {
  border: 1px solid $blue;
  color: $blue;
}

.blue-first {
  background-color: $blue;
}

.green-second {
  border: 1px solid $green;
  color: $green;
}

.green-first {
  background-color: $green;
}

.red-second {
  border: 1px solid $red;
  color: $red;
}

.red-first {
  background-color: $red;
}

.normal-first {
  background-color: #888;
}

.normal-second {
  color: #888;
  border: 1px solid #888;
}

.Header-Mobile {
  background-color: $navigation;
  margin: 0 0 12px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 8vh;
  z-index: 1000;

  nav {
    div {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 8vh;
      height: 78vh;

      a {
        color: $lighttext;
        display: flex;
        height: 100%;
        font-size: 36px;
        background-color: $navigation;
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
          border-top: 2px solid #ddd;
          border-bottom: 2px solid #ddd;
        }

        &:nth-child(1):hover {
          background-color: $blue;
        }

        &:nth-child(2):hover {
          background-color: $green;
        }

        &:nth-child(3):hover {
          background-color: $red;
        }

        &:nth-child(1).active {
          background-color: $blue;
        }

        &:nth-child(2).active {
          background-color: $green;
        }

        &:nth-child(3).active {
          background-color: $red;
        }

        &.active {
          color: white;
        }
      }
    }
  }

  svg {
    font-size: 44px;
    display: flex;
    margin: 0 16px;
    color: $text;
  }

  nav.open {
    svg {
      color: orangered;
    }
  }
}

.blue-svg-color {
  color: $blue;
}

.green-svg-color {
  color: $green;
}

.red-svg-color {
  color: $red;
}

.normal {
  color: #888;
}
