@import '../../index.scss';

.Tourism {
  &.dark {
    .Tourism__title {
      h1 {
        color: $darktext;
      }

      span {
        color: $darklighttext;
      }
    }

    .Tourism__card-container {
      a {
        &:hover {
          &:nth-child(3n + 1) {
            svg {
              color: $darkblue;
            }

            h3 {
              color: $darkblue;
            }
          }

          &:nth-child(3n + 2) {
            svg {
              color: $darkgreen;
            }

            h3 {
              color: $darkgreen;
            }
          }
        }

        svg {
          color: $darklightertext;
        }

        h3 {
          color: $darklighttext;
        }
      }

      .Tourism__card {
        border: 2.5px $darklightertext solid;
      }
    }
  }

  .Tourism__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 60px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      letter-spacing: 1px;
      margin-bottom: 0;
      width: 51%;
    }

    span {
      margin-bottom: 40px;
      font-size: 22px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      width: 50%;
    }
  }

  .Tourism__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 80%;
    margin: 0 auto;

    a {
      transition: 300ms;
      margin: 22px 0;

      &:hover {
        transition: 500ms;
        transform: translateY(-5px);

        &:nth-child(3n + 1) {
          svg {
            color: $blue;
          }

          h3 {
            color: $blue;
          }
        }

        &:nth-child(3n + 2) {
          svg {
            color: $green;
          }

          h3 {
            color: $green;
          }
        }

        &:nth-child(3n + 3) {
          svg {
            color: $red;
          }

          h3 {
            color: $red;
          }
        }
      }

      h3 {
        transition: 300ms;
        color: $lighttext;
        font-size: 1.7vw;
        text-align: center;
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 12px 0 4px 0;

        &:hover {
          color: $green;
        }
      }
    }

    .Tourism__card {
      border-radius: 15px;
      padding: 12px 18px;
      height: 16vw;
      width: 16vw;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2.5px #dfdfdf solid;

      svg {
        width: 50%;
        height: 50%;
        stroke-width: 1;
        transition: 300ms;
        color: $lighttext;
      }
    }
  }

  .Tourism__card-link {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;

    &.fade-in-from-bottom {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 1s ease, transform 1s ease;
    }
  }
}

.TourismMobile {
  &.dark {
    .TourismMobile__title {
      h1 {
        color: $darktext;
      }

      span {
        color: $darklighttext;
      }
    }

    .TourismMobile__card-container {
      a {
        &:hover {
          &:nth-child(3n + 1) {
            svg {
              color: $darkblue;
            }

            h3 {
              color: $darkblue;
            }
          }

          &:nth-child(3n + 2) {
            svg {
              color: $darkgreen;
            }

            h3 {
              color: $darkgreen;
            }
          }

          &:nth-child(3n + 3) {
            svg {
              color: $darkred;
            }

            h3 {
              color: $darkred;
            }
          }
        }

        svg {
          color: $darklightertext;
        }

        h3 {
          color: $darklighttext;
        }
      }

      .TourismMobile__card {
        border: 2.5px #585858 solid;
      }
    }
  }

  .TourismMobile__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    h1 {
      font-size: 34px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      margin: 0 0 12px 0;
    }

    span {
      margin-bottom: 20px;
      font-size: 19px;
      font-family: Georgia, Times, 'Times New Roman', serif;
    }
  }

  .TourismMobile__card-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    a {
      transition: 300ms;
      padding: 8px 12px;

      &:hover {
        transition: 500ms;
        transform: translateY(-5px);

        &:nth-child(3n + 1) {
          svg {
            color: $blue;
          }

          h3 {
            color: $blue;
          }
        }

        &:nth-child(3n + 2) {
          svg {
            color: $green;
          }

          h3 {
            color: $green;
          }
        }

        &:nth-child(3n + 3) {
          svg {
            color: $red;
          }

          h3 {
            color: $red;
          }
        }
      }

      h3 {
        transition: 300ms;
        color: $lighttext;
        font-size: 21px;
        margin: 12px 0 4px 12px;
        font-family: Georgia, Times, 'Times New Roman', serif;
        text-align: center;

        &:hover {
          transition: 300ms;
          color: $green;
        }
      }
    }

    .TourismMobile__card {
      border-radius: 15px;
      margin: 12px 0;
      padding: 12px 18px;
      height: 70vw;
      width: 70vw;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2.5px #dfdfdf solid;

      svg {
        width: 50%;
        height: 50%;
        stroke-width: 1;
        transition: 300ms;
        color: $lighttext;
      }
    }
  }

  .TourismMobile__card-link {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;

    &.fade-in-from-bottom {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 1s ease, transform 1s ease;
    }
  }
}

.Tourism-Section {
  &.dark {
    p {
      color: $darktext;
    }
  }
  p {
    color: $text;
  }
}
