@import '../../index.scss';

.Tourism {
  &.dark {
    .Tourism__title {
      h1 {
        color: $darktext;
      }

      span {
        color: $darklighttext;
      }
    }

    .Tourism__card-container {
      a {
        h3 {
          color: $darklighttext;

          &:hover {
            color: $darkgreen;
          }
        }
        &:hover {
          h3 {
            color: $darkgreen;
          }
        }
      }
    }
  }

  .ContainerMap{
    display: flex;
    justify-content: center;
    width: 100%;
    .mapForNP{
      display: flex;
      justify-content: center;
      width: 900px;
      margin: 2vh 2vw;
    }
  }

  .Tourism__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 60px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      letter-spacing: 1px;
      margin-bottom: 0;
      width: 51%;
    }

    span {
      margin-bottom: 40px;
      font-size: 22px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      width: 50%;
    }
  }

  .Tourism__card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      transition: 300ms;
      margin: 12px 22px;

      &:hover {
        transition: 500ms;
        transform: translateY(-5px);
        h3 {
          color: $green;
        }
      }

      h3 {
        transition: 300ms;
        color: $text;
        font-size: 22px;
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 12px 0 4px 12px;

        &:hover {
          transition: 300ms;
          color: $green;
        }
      }
    }

    .Tourism__card {
      border-radius: 30px;
      padding: 12px 18px;
      height: 16vw;
      width: 16vw;
      background-color: rgb(200, 200, 200);
      display: flex;
      align-items: flex-end;
    }
  }

  .Tourism__card-link {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;

    &.fade-in-from-bottom {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 1s ease, transform 1s ease;
    }
  }
}

.TourismMobile {
  &.dark {
    .TourismMobile__title {
      h1 {
        color: $darktext;
      }

      span {
        color: $darklighttext;
      }
    }

    .TourismMobile__card-container {
      a {
        h3 {
          color: $darklighttext;

          &:hover {
            color: $darkgreen;
          }
        }
        &:hover {
          h3 {
            color: $darkgreen;
          }
        }
      }
    }
  }
  .TourismMobile__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    h1 {
      font-size: 34px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      margin: 0 0 12px 0;
    }

    span {
      margin-bottom: 20px;
      font-size: 19px;
      font-family: Georgia, Times, 'Times New Roman', serif;
    }
  }

  .TourismMobile__card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      transition: 300ms;
      padding: 8px 12px;

      &:hover {
        transition: 500ms;
        transform: translateY(-5px);
      }

      h3 {
        transition: 300ms;
        color: $text;
        font-size: 21px;
        margin: 12px 0 4px 12px;
        font-family: Georgia, Times, 'Times New Roman', serif;

        &:hover {
          transition: 300ms;
          color: $green;
        }
      }
    }

    .TourismMobile__card {
      border-radius: 30px;
      margin: 12px 0;
      padding: 12px 18px;
      height: 270px;
      width: 270px;
      background-color: rgb(200, 200, 200);
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: 330px) {
        padding: 12px 0;
        margin: 4px 0;
        width: 200px;
        height: 200px;
        font-size: 16px;
      }
    }
  }

  .TourismMobile__card-link {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;

    &.fade-in-from-bottom {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 1s ease, transform 1s ease;
    }
  }
}
.ContainerMap_Mobile{
  display: flex;
  justify-content: center;
  width: 100%;
  .mapForNP_Mobile{
    display: flex;
    justify-content: center;
    width: 400px;
  }
}

.Tourism-Section {
  &.dark {
    p {
      color: $darktext;
    }
  }
  p {
    color: $text;
  }
}


.wrapperCard{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  .card__container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin: 2vw;
  }
}




.Card_Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .mainCardWrapper{
    display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 25vw;
  padding: 2vh 1vw;
  margin: 2vh;
  }
  .card_title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }
  //for now i dont need this div 
  // .description {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 40px;
  //   text-align: center;
  // }
  
  .mapCity {
    // overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width:100% ;

  }
  
  .SearchForIt {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
  }
}


.cardContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  .cardContainerData{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 2vh 1vw;
    
  }
}

.secondPage{
  text-align: center;
  margin: 10vh 20vw;
  font-weight: 700;
  font-size: 30px;
}