.Header-Desktop {
  background-color: #242424;
  margin-bottom: 12px;
}
.Header-Desktop div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0;
}
.Header-Desktop div img {
  border-radius: 50%;
}
.Header-Desktop div h1 span {
  color: purple;
}
nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 12px 0;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  background-color: #242424;
}
a {
  color: white;
  padding: 12px 24px;
  font-size: 24px;
  text-decoration: none;
}
a.active {
  color: purple;
  font-weight: 700;
}
