.Header-Desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 12px;
  box-shadow: 0 2px 7px #ddd;
}
.Header-Desktop div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}
.Header-Desktop div img {
  border-radius: 50%;
}
.Header-Desktop div h1 span {
  color: #3a7ef2;
}
.Header-Desktop button {
  padding: 9px 18px;
  background-color: #3a7ef2;
  color: #f6f6f6;
  border: none;
  box-shadow: 0 5px 5px 2px #ddd;
  font-size: 18px;
  border-radius: 0.5rem;
  transition: 200ms;
}
.Header-Desktop button:hover {
  background-color: #3af;
  transition: 200ms;
}
.Header-Desktop nav {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background-color: #f6f6f6;
}
.Header-Desktop nav a {
  padding: 12px 24px;
  font-size: 24px;
  text-decoration: none;
  color: #888;
  transition: 200ms;
}
.Header-Desktop nav a:hover {
  transition: 200ms;
  color: #3af;
}
.Header-Desktop nav a.active {
  color: #3a7ef2;
  font-weight: 700;
}
