@import '../../index.scss';

.Footer-Desktop,
.Footer-Mobile {
  background-color: $navigation;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
  margin-top: 12px;
  border: 1px solid #e6e6e6;
  color: $text;

  &.dark {
    background-color: $darknavigation;
    color: $darktext;
    border: 1px solid #2e2e2e;
  }

  p {
    margin: 0;
  }

  a {
    color: blue;
    transition: 200ms;

    &:hover {
      color: rgb(0, 191, 255);
      transition: 200ms;
    }
  }
  &.dark a {
    color: rgb(0, 191, 255);

    &:hover {
      color: blue;
    }
  }
}
