.News-Main__Container {
  min-height: 400px;
  height: 100%;
  margin-top: 6px;
  display: flex;
  align-items: flex-end;
  padding: 12px 24px;
  border: 1px solid #888;
}
.News-Main {
  max-width: 800px;
  width: 100%;
  margin: 6px;
}
.News-Main__Container p,
.News-Main__Container h2 {
  margin: 0;
}
.Secondary-News__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
}
.News-Item__date {
  display: flex;
  align-items: center;
}
.News-Item {
  position: relative;
  padding: 6px 12px;
  margin: 6px 0;
  border: 1px solid #888;
  min-height: 150px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.News-Item.active h4 {
  color: purple;
}
.News-Main span {
  font-size: 20px;
}

.News-Item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}
.News-Item h4,
.News-Item p {
  position: relative;
  z-index: 1;
  margin: 0;
}
.News-Item .News-Item__date {
  display: flex;
  align-items: center;
}

.News-Main__Container {
  position: relative;
}
.News-Main__Container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  color: white;
}

.News-Main__title {
  position: relative;
  z-index: 1;
}
svg {
  color: white;
  margin-right: 6px;
}
