@import '../../../../index.scss';

.News-Item-Mobile {
  width: 85%;
  margin: 0 auto 30px auto;
  background-color: $navigation;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  img {
    width: 100%;
    max-height: 175px;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  h4 {
    font-size: 21px;
    margin: 0;
    color: $text;
    padding: 0 12px;
    &:hover {
      color: $blue;
    }
  }
  .summary {
    color: $lightertext;
    font-size: 16px;
    margin: 10px 0;
    padding: 0 12px;
  }
}
.News-Item-Mobile__date {
  p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px;
    padding: 0 12px 12px 12px;
    color: rgb(100, 100, 100);
  }
}
.News-Main-Mobile {
  width: 90%;
  margin: 0 auto;
  img {
    width: 100%;
    max-height: 175px;
    height: 100%;
    background-position: center;
    object-fit: cover;
  }
}
.News-Main-Mobile__title {
  h2 {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 27px;
  }
  p {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: rgb(100, 100, 100);
    font-size: 18px;
  }
}
.paragraph-mobile {
  font-size: 19px;
  margin: 10px 0;
  color: $text;
}
