@import '../../../../index.scss';

.News-Item-Mobile {
  width: 80%;
  margin: 0 auto 30px auto;
  background-color: #f6f6f6;
  padding: 8px 12px;
  border-radius: 0.36rem;
  box-shadow: rgba(0, 0, 0, 0.16) 2px 3px 5px;
  img {
    width: 100%;
    max-height: 175px;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 0.18rem;
  }
  h4 {
    font-size: 17px;
    margin: 0;
    color: $text;
    &:hover {
      color: $blue;
    }
  }
  .summary {
    color: $lighttext;
    font-size: 15px;
    margin: 10px 0;
  }
}
.News-Item-Mobile__date {
  p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
    color: #3e3e3e;
  }
}
.News-Main-Mobile {
  width: 90%;
  margin: 0 auto;
  img {
    width: 100%;
    max-height: 175px;
    height: 100%;
    background-position: center;
    object-fit: cover;
  }
}
.News-Main-Mobile__title {
  h2 {
    margin-bottom: 0;
  }
  p {
    display: flex;
    align-items: center;
    margin-top: 0;
    color: #3e3e3e;
    font-size: 15px;
  }
  svg {
    margin-bottom: 2px;
  }
}
.paragraph-mobile {
  font-size: 18px;
  color: $text;
}
