$primary: #43729d;
$secondary: #b73539;
$accent: #64a86c;
$background: #efeded;
$text: #303131;
$lighttext: #4f4f4f;

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.45;
  font-weight: 400;

  scroll-behavior: smooth;
  scrollbar-width: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0.3vw;
  background: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb {
  background: rgb(178, 178, 178);
  border-radius: 0.5vw;
  padding: 0% 2%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: $background;
}

button {
  cursor: pointer;
}
